.days-card {
    background-color: var(--azulito);
    border-radius: 1rem;
    width: 22rem;
    height: 28rem;
    text-align: center;
    margin-bottom: 3rem;
}
.days-card-title {
    display: block;
    font-size: 1.8rem;
    margin-top: 1.3rem;
}
.days-card-logo {
    display: block;
    height: 20rem;
}
.days-card-logo img{
    width: 15rem;
    margin-bottom: 3rem;
    margin-right:2rem ;
}
.days-card-max {
    display: inline-block;
    font-size: 1.8rem;
    margin-top: .5rem;
    margin-right: 2rem;
}
.days-card-min {
    font-size: 1.8rem;
}
@media screen and (min-width: 480px) {
    .days-card {
        margin: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .days-card {
        width: 15rem;
        height: 22rem;
    }
    .days-card-title {
        font-size: 1.7rem;
        margin-top: .5rem;
    }
    .days-card-logo {
        height: 16rem;
    }
    .days-card-logo img{
        width: 12rem;
        margin-bottom: 3rem;
        margin-right:2rem ;
    }
    .days-card-max {
        display: inline-block;
        font-size: 1.8rem;
        margin-top: .5rem;
        margin-right: 2rem;
    }
    .days-card-min {
        font-size: 1.8rem;
    }
    
}