.details{
    width: 100%;
    min-height: 100vh;
    background-color: #110d1c;
    z-index: 1;
}
.title{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 8vw;
}
.bigRectangles{
    display: flex;
    flex-direction: row;
}