.footer {
    width: 100vw;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer span{
    font-family: 1.4rem;
    opacity: 50%;
}
@media screen and (min-width: 1200px) {
    .footer{
        align-self: center;
        width: 62vw;
        margin-top: 2rem;
    }
    
}