.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .highlights {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
@media screen and (min-width: 1200px) {
    .highlights {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    
    
}